body {background-color: Lavender;
}

.header {
  background-image: url(https://i.ytimg.com/vi/gKKYnNvfU1A/maxresdefault.jpg);
  color: White;
  font-family: 'Forum', cursive;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

h3 {font-size:16px;
  font-family: serif;
    font-weight: bold;
}

img {
  border-radius: 100%;
}
/* style a unique identifier element from index.html
#bullet-list{
  text-transform: uppercase;
}
*/
.bulleted{
  text-align:left;
  font-weight:200;
}
