* {
  font-family: 'Georgia', 'Times', serif;
  background-color: Lavender;
}

h1 {
  color: DarkSlateGrey;
  font-family: 'Forum', cursive;
  font-size: 36px;
  font-weight:bold;
  text-decoration: none;
}

h2 {font-style: italic;
    font-weight: bold;
}

img {
  border-radius: 100%;
