* {
  font-family: 'Georgia', 'Times', serif;
  background-color: Lavender;
}

h1 {
  color: DarkSlateGrey;
  font-family: 'Forum', cursive;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

h2 {font-size:16px;
}

img {
  border-radius: 100%;
